.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
}
.modal-container img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.modal-container .text-redirect {
  color: rgba(0, 0, 0, 0.65);
}
.modal-container .text-counter {
  color: #f56766;
}
